@font-face {
    font-family: space;
    src: url("../font/SpaceMission-rgyw9.otf");
}

* {
    padding: 0;
    margin: 0;
}
body{
    display: flex;
}
.level0 {
     display: block;
     margin: 0 auto;
     background-image: url("../img/background_lvl0.jpg");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
.level1 {
    display: block;
    margin: 0 auto;
    background-image: url("../img/background_level1.jpg");
    background-position: center;
}
.level2 {
    display: block;
    margin: 0 auto;
    background-image: url("../img/hd-wallpaper-2675322_1280.jpg");
    background-position: center;
}